/* FONT */
.roboto-condensed{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav Bar */
.head{
    display: flex;
    justify-content: space-around;
}

.nav-title{
    display: flex;

}

/* Button */
.btn{
 
}